<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790577735455-gvt2q6s7r7lsplqbkp06o5v44qkogg4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790577735455-gvt2q6s7r7lsplqbkp06o5v44qkogg4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAnmaGZr7ZChi9MRRSFGQDuHOK-J8uHVOo</string>
	<key>GCM_SENDER_ID</key>
	<string>790577735455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whisper</string>
	<key>PROJECT_ID</key>
	<string>whisper-4f301</string>
	<key>STORAGE_BUCKET</key>
	<string>whisper-4f301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790577735455:ios:2d49111768153fa762f22a</string>
</dict>
</plist>